///////////////////
//  Left Navbar  //
///////////////////

// Reduce some of the space between left sidebar items
.td-sidebar-link {
  padding-bottom: 0.15rem !important;
}

// Docsy makes pages with no children appear lighter.
// Now we have + icons you can distinguish branches from leaves so unset
// the styling
.td-sidebar-link__page, .td-sidebar-link__section-title {
  color: unset !important;
  font-weight: unset !important;
}

// Override the unsetting above for the selected nav item so we
// can see what is selected
.td-sidebar-link.active {
  font-weight: 600 !important;
}

// TODO Hide the scrollbar until we can figure out a better way of dealing
// with left nav items that go over width
.td-sidebar-nav {
  overflow-x: hidden;
}

// Reduce indent of nested items from 1.5em so we have more space
// for deep nesting
.td-sidebar-nav {

  &__section {
    @include media-breakpoint-up(md) {
      & .ul-1 ul {
        padding-left: 1.0em;
      }
    }
  }
}

// Add + icons to the left nav sidebar
// 
li.td-sidebar-nav__section-title {
  span {
    // With deep nesting we need a bit more room
    font-size: 95%;

    // No wrapping as the indent is all wrong when it wraps
    // See overflow:hidden above.
    white-space: nowrap;
  }
  span:before {
    content: "✚ ";
    visibility: hidden;
    opacity: 90%;
  }
  li.with-child span:before {
    color: $primary;
    //opacity: 90%;
    visibility: visible;
  }
  // Show a different icon/colour for each item on the active path
  // so you can see where you are in the tree
  li.active-path > a > span:before {
    content: "➔ ";
    color: $secondary;
    visibility: visible;
  }
  // No icon for leaves unless they are covered by active path rule above
  li.without-child span:before {
    visibility: hidden;
  }
}
